# Токен Telegram бота
BOT_TOKEN=7468813281:AAGHg-_kX7vj6MsvV0T7g1bhG8gLEdQ8P6Q

# Кошелёк для оплаты
PAYMENT_WALLET=your_payment_wallet_here

# Админы бота (Telegram ID)
ADMIN_ID_1=5406831921
ADMIN_ID_2=9999999999

# Строка подключения к базе данных PostgreSQL
DATABASE_URL=postgresql://username:bhjbsjcvbsjbcvjbs467586@localhost:5432/vpn_db

# Настройки OpenVPN сервера
OPENVPN_SERVER_IP=your_server_ip_here
OPENVPN_SERVER_PORT=1194
OPENVPN_CA_PATH=/etc/openvpn/ca.crt
OPENVPN_SERVER_CERT=/etc/openvpn/server.crt
OPENVPN_SERVER_KEY=/etc/openvpn/server.key
OPENVPN_PROTOCOL=udp

# Настройки WireGuard сервера
WIREGUARD_SERVER_PUBLIC_KEY=your_wireguard_server_public_key_here
WIREGUARD_SERVER_ENDPOINT=your_server_ip_here
WIREGUARD_SERVER_PORT=51820
WIREGUARD_BASE_SUBNET=10.0.0.0/24 